INTERACTIVE_DEBUG=false

DATABASE_URI=postgresql://postgres:postgres@postgres:5432/example_neynar_parquet_importer

AWS_ACCESS_KEY_ID="your_access_key_id"
AWS_SECRET_ACCESS_KEY="your_secret_access_key"

# # Optional, used for temporary credentials
# AWS_SESSION_TOKEN="your_session_token"

# # Optional, used if you have multiple sets of credentials
# AWS_PROFILE=neynar
