# see the boto documentation for more `AWS_` env vars
# <https://boto3.amazonaws.com/v1/documentation/api/latest/guide/configuration.html#using-environment-variables>
AWS_ACCESS_KEY_ID="your_access_key_id"
AWS_SECRET_ACCESS_KEY="your_secret_access_key"

# set to true if you want metrics sent to datadog
DATADOG_ENABLED=false

# support logs formats = `rich` or `json`
LOG_FORMAT=rich
LOG_LEVEL=DEBUG

# see the `ALL_TABLES` variables in main.py for available duration/schema/tables
#INCREMENTAL_DURATION=
#NPE_VERSION=
#PARQUET_S3_SCHEMA=
#TABLES=
#VIEWS=

POSTGRES_DSN=postgresql://postgres:postgres@postgres:5432/neynar_parquet_importer

# # Optional, used for debugging errors interactively
# INTERACTIVE_DEBUG=false

# # Optional, used for temporary credentials
# AWS_SESSION_TOKEN="your_session_token"

# # Optional, used if you have multiple sets of credentials
# AWS_PROFILE=neynar
